<?xml version="1.0" encoding="utf-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Name="mshell"
           Language="1033"
           Version="$(var.Version)"
           Manufacturer="mshell"
           UpgradeCode="6f1c9a52-3d84-4a71-9d0e-2f0a6b5c8e13">

    <Package InstallerVersion="200" Compressed="yes"
             InstallScope="perMachine"
             Description="Keyboard-driven tiling window manager shell for Windows" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of mshell is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLDIR" Name="mshell">
          <Directory Id="CONFIGDIR" Name="config" />
        </Directory>
      </Directory>
    </Directory>

    <DirectoryRef Id="INSTALLDIR">
      <Component Id="cmpMshell" Guid="*">
        <File Id="filMshell" Source="mshell.exe" KeyPath="yes" />
      </Component>
      <Component Id="cmpHelper" Guid="*">
        <File Id="filHelper" Source="mshelld.exe" KeyPath="yes" />
      </Component>
      <Component Id="cmpInstallBat" Guid="*">
        <File Id="filInstallBat" Source="install.bat" KeyPath="yes" />
      </Component>
      <Component Id="cmpUninstallBat" Guid="*">
        <File Id="filUninstallBat" Source="uninstall.bat" KeyPath="yes" />
      </Component>
      <Component Id="cmpReadme" Guid="*">
        <File Id="filInstallMd" Source="INSTALL.md" KeyPath="yes" />
      </Component>
      <Component Id="cmpLicense" Guid="*">
        <File Id="filLicense" Source="LICENSE" KeyPath="yes" />
      </Component>
      <Component Id="cmpThirdPartyNotices" Guid="*">
        <File Id="filThirdPartyNotices" Source="THIRD-PARTY-NOTICES.md" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="CONFIGDIR">
      <Component Id="cmpInitLua" Guid="*">
        <File Id="filInitLua" Source="config/init.lua" KeyPath="yes" />
      </Component>
      <Component Id="cmpInitFullLua" Guid="*">
        <File Id="filInitFullLua" Source="config/init.full.lua" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Feature Id="Complete" Level="1" Title="mshell">
      <ComponentRef Id="cmpMshell" />
      <ComponentRef Id="cmpHelper" />
      <ComponentRef Id="cmpInstallBat" />
      <ComponentRef Id="cmpUninstallBat" />
      <ComponentRef Id="cmpReadme" />
      <ComponentRef Id="cmpLicense" />
      <ComponentRef Id="cmpThirdPartyNotices" />
      <ComponentRef Id="cmpInitLua" />
      <ComponentRef Id="cmpInitFullLua" />
    </Feature>
  </Product>
</Wix>
